@mixin button($color){
    font-size: 3em;
    padding: .5em;
    margin: .5em;
    background-color: $color;
    color: black;
    text-decoration: none;
    vertical-align: middle;
    border-radius: 50%;
}

@mixin icon($color){
    color: $color;
}